html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.chat-title {
  width: 100%;
  z-index: 99;
}

#chat {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  overflow: hidden;
}

.chat-line {
  /*  -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;*/
}

.chat-line[data-faded] {
    opacity: 0.8;
}

.chat-line.chat-notice {
  opacity: 1;
}

.chat-line.chat-notice[data-level="-4"] {
  color: #765eed;
}

.chat-line.chat-notice[data-level="-3"] {
  color: #1aa2e6;
}

.chat-line.chat-notice[data-level="-2"] {
  color: #1ae6a2;
}

.chat-line.chat-notice[data-level="-1"] {
  color: #5ee61a;
}

.chat-line.chat-notice[data-level="1"] {
  color: red;
}

.chat-line.chat-notice[data-level="2"] {
  color: red;
}

.chat-line.chat-notice[data-level="3"] {
  color: red;
}

.chat-line.chat-notice[data-level="4"] {
  color: red;
}

.chat-line.chat-timedout {
  /*font-size: .75em;*/
  /*  -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;*/
}

.chat-line.chat-cleared {
  /*font-size: .33em;*/
  /*  -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;*/
}

.chat-channel {
    margin-right: 0.375em;
  /*opacity: .6;
  font-weight: 300;*/
}

.chat-channel:before {
    content: "#";
}

.chat-name {
  /*font-weight: 700;*/
}

.chat-colon {
    margin-right: 0.375em;
}

.chat-line:not(.chat-action) .chat-colon:after {
    content: ":";
}

.chat-message {
  /*font-weight: 400;*/
}

.chat-line:not(.chat-action) .chat-message {
  color: inherit;
}

.emoticon {
  background-position: center center;
  background-repeat: no-repeat;
  margin: -5px 0;
  display: inline-block;
  vertical-align: middle !important;
  height: 1.5em;
}

.chat-badges {
    margin-right: 0.125em;
}

.chat-badges > div {
  margin-bottom: 1px;
  border-radius: 2px;
  height: 1em;
  min-width: 1em;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
    margin-right: 0.3em;
}

.chat-badge-mod {
  background-color: #33ae0a;
  background-image: url(https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/1);
}

.chat-badge-vip {
  background-color: #6441a4;
  background-image: url(https://static-cdn.jtvnw.net/badges/v1/bd444ec6-8f34-4bf9-91f4-af1e3428d80f/1);
}

.chat-badge-turbo {
  background-color: #6441a4;
  background-image: url(https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/3);
}

.chat-badge-broadcaster {
  background-color: #e71818;
  background-image: url(https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/1);
}

.chat-badge-admin {
  background-color: #faaf19;
  background-image: url(https://static-cdn.jtvnw.net/badges/v1/9ef7e029-4cdf-4d4d-a0d5-e2b3fb2583fe/1);
}

.chat-badge-staff {
  background-color: #200f33;
  background-image: url(https://static-cdn.jtvnw.net/badges/v1/d97c37bd-a6f5-4c38-8f57-4e4bef88af34/1);
}

.chat-badge-bot {
  background-image: url(https://cdn.betterttv.net/tags/bot.png);
}

[class*=chat-delete] {
  font-style: inherit;
}

.chat-delete-timeout {
  font-style: inherit;
}

.chat-delete-clear {
  font-style: inherit;
}

[class*=chat-room] {
  /*font-size: .5em;*/
}
