html,body {
  font-family: 'Roboto', sans-serif;
}

form.form-inline {
  display: inline-block;
}

iframe.font-preview {
  border: none;
  overflow: hidden;
  width: 100%;
  height: 40px;
}

#chat_bg_image_preview img {
  max-width: 50%;
}

.fa-info-circle {
  cursor: pointer;
}