.chat-line {
  padding: 4px 4px 8px 4px;
  line-height: 1.1;
}

.chat-line.new {
  opacity: 1;
}

.chat-badges {
  padding-left: 0;
  margin-right: 0;
  text-align: left;
}

.chat-message {
  padding-left: 0;
  line-break: normal;
  word-break: break-word;
  text-align: left;
}

.chat-colon {
    margin-right: 0.2em;
}

.chat-title {
  font-weight: bold;
  padding-left: 4px;
}

.chat-name {
  padding-left: 0;
  text-align: left;
}
