.chat-line {
  text-align: left;
  padding: 6px 12px 12px 12px;
  margin: 4px;
  line-height: 1.2;
  border-radius: 2px;
}
.chat-line.new {
  opacity: 1;
  margin: 4px;
}
.chat-badges {
  padding-left: 0;
  margin-right: 0;
  float: right;
  text-align: right;
}

.chat-message {
  text-align: left;
  display: block;
  padding-left: 0;
  margin-top: 4px;
  line-break: normal;
  word-break: break-word;
}
.chat-title {
  text-align: left;
  font-weight: bold;
  padding-left: 4px;
  box-shadow: 0px 8px 8px 4px #00000080;
}
.chat-name {
  text-align: left;
  display: block;
  padding-left: 0;
}
.chat-colon {
  display: none;
}